.doctor_screen {
}
.top_doctor_search_heading {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf6ff;
  margin-bottom: 50px;
}
.top_doctor_search {
  width: 90%;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  background-color: #fff;
  border: 1.5px solid #91d5ff;
  border-radius: 4px;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.06);
}

.doctor_screen_input_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top_doctor_search_input {
  position: relative;
}
.top_doctor_search_input input[type="text"] {
  border: none;
  font-family: "Inter", sans-serif;
  padding: 8px 15px;
  font-size: 17px;
}

.top_doctor_search_input input[type="text"]::placeholder {
  color: #48484b;
  opacity: 0.5;
}
.top_doctor_search_input input[type="text"]:focus {
  outline: none;
}
.searchInput_2 {
  width: auto;
}
.searchicon {
  height: 1.3em;
}
.custom-input-class {
  /* background-color: #1472e5; */
  width: 12em;
}
.top_doctor_search_calender_input {
}
.reset_btn {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}
.reset_btn:hover {
  color: #1472e5;
}
.top_doctor_search_calender_input span {
  color: #48484b;
}
.search_btn_wrap {
  height: 100%;
}
.search_btn2 {
  background: #1472e5;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
  height: 100%;
  border: none;
  padding: 0 30px;
  font-size: 20px;
  cursor: pointer;
}
.nomatchtext {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.location_suggestion {
  background-color: #fff;
  position: absolute;
  top: 50px;
  z-index: 10;
  left: 8%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  width: 25em;
}
.list_location_input {
  position: relative;
}
.location_suggestion_card {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.location_suggestion_card:hover {
  background-color: #d6d6d6;
}
@media only screen and (max-width: 600px) {
  .top_doctor_search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 250px;
    margin-top: 100px;
  }
  .top_doctor_search_input {
    margin-bottom: 20px;
  }
  .top_doctor_search_calender_input {
    margin-bottom: 20px;
  }
  .search_btn2 {
    height: 50%;
    /* padding: 0 30px; */
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searcbtnicon {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .top_doctor_search {
    padding-left: 30px;
  }
  .top_doctor_search_heading {
    margin-bottom: 100px;
  }
}
